.hd {
    background: orange;
    color: white;
}
.chu {
    color: darkblue;
}
.hb {
    color: orange;
}
.dk {
    background: lightgreen;
    color: darkblue;
}
.tb {
    background: yellow;
}