<form action="" [formGroup]="registerForm">
  <div class="input-group mb-3">
    <label for="email">Email: </label>
    <input formControlName="email" type="email" id="email">
  </div>
  <div class="input-group mb-3">
    <label for="password">Password: </label>
    <input formControlName="password" type="password" id="password">
  </div>
  <div class="input-group mb-3">
    <label for="confirmPassword">Confirm password: </label>
    <input formControlName="confirmPassword" type="password" id="confirmPassword">
  </div>
  <div class="input-group mb-3">
    <label for="country">Country: </label>
    <select formControlName="country" id="country" ng-options="item for item in names">
    </select>
  </div>
  <div class="input-group mb-3">
    <label for="age">Age: </label>
    <input formControlName="age" type="number" id="age">
  </div>
  <div class="input-group mb-3">
    <label>Gender: </label>
    <input formControlName="gender" type="radio" name="gender" value="Male">Male
    <input formControlName="gender" type="radio" name="gender" value="Female">Female
  </div>
  <div class="input-group mb-3">
    <label for="phone">Phone:</label>
    <input formControlName="phone" type="text" id="phone">
  </div>
</form>

<!--Email: bắt buộc, và phải có định dạng là email.-->

<!--Password và confirm password: bắt buộc, min length là 6, và phải giống nhau.-->

<!--Country: bắt buộc, và là một select box để người dùng chọn 1 phần tử trong list.-->

<!--Age: bắt buộc và phải lớn hơn 18 tuổi.-->

<!--Gender: bắt buộc và là radio button.-->

<!--Phone: bắt buộc và phải có định dạng bao gồm: bắt đầu với +84, và theo sau là 9 đến 10 chữ số. (Regex có dạng /^\+84\d{9,10}$/)-->
