<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header('List of blog')}">
</head>
<body class="col-md-12">
<a th:href="@{/create}" role="button" class="btn btn-outline-primary">
    <h4>Create a blog</h4>
</a>
<h3>List:</h3>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Summary</th>
        <th>Author</th>
        <th>Day of create/modify</th>
        <th colspan="3">Action</th>
    </tr>
    <tr th:each="blog: ${blogs}" th:object="${blog}">
        <td th:text="*{id}"></td>
        <td><a th:href="@{/{id}/detail(id=*{id})}"><span th:text="*{summary}"></span></a></td>
        <td><a th:href="@{/{author}/search(author=*{author})}"><span th:text="*{author}"></span></a></td>
        <td th:text="*{dateOfCreate}"></td>
        <td><a th:href="@{/{id}/detail(id=*{id})}" role="button" class="btn btn-outline-primary">View</a></td>
        <td><a th:href="@{/{id}/edit(id=*{id})}" role="button" class="btn btn-outline-warning">Edit</a></td>
        <td><a th:href="@{/{id}/delete(id=*{id})}" role="button" class="btn btn-outline-danger">Delete</a></td>
    </tr>
</table>
<div th:replace="~{layout::footer}"></div>
<div th:replace="~{layout::script}"></div>
</body>
</html>