<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table border="1">
    <tr>
      <th colspan="2" class="text-bg-primary">Create new product</th>
    </tr>
    <tr>
      <td>Product ID:</td>
      <td>
        <input type="number" formControlName="id">
        <p class="text-danger" *ngIf="productForm.controls.id.touched && productForm.controls.id?.errors?.required">Product ID is required</p>
      </td>
    </tr>
    <tr>
      <td>Product name:</td>
      <td>
        <input type="text" formControlName="name">
        <p class="text-danger" *ngIf="productForm.controls.name.touched && productForm.controls.name?.errors?.required">Product name is required</p>
      </td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>
        <input type="number" formControlName="price">
        <p class="text-danger" *ngIf="productForm.controls.price.touched && productForm.controls.price?.errors?.required">Product price is required</p>
        <p class="text-danger" *ngIf="productForm.controls.price.touched && productForm.controls.price?.errors?.min">Product price is cannot less than 0</p>
      </td>
    </tr>
    <tr>
      <td>Product description:</td>
      <td>
        <input type="text" formControlName="description">
        <p class="text-danger" *ngIf="productForm.controls.description.touched && productForm.controls.description?.errors?.required">Product description is required</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-success">Create</button></td>
    </tr>
  </table>
</form>
