<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Bệnh án
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" routerLink="/records/list">Danh sách bệnh án</a></li>
    <li><a class="dropdown-item" routerLink="/records/list">Add new product</a></li>
  </ul>
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Bệnh nhân
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" routerLink="/records/list">List of category</a></li>
    <li><a class="dropdown-item" routerLink="/records/list">Add new category</a></li>
  </ul>
</div>
