<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header('Xem bài viết')}">
</head>
<body class="col-md-12">
<h4>Bài viết thuộc danh mục: <span style="color: brown" th:text="${blog.category.categoryName}"></span></h4>
<h4 th:text="${blog.title}"></h4>
<div>
    <p th:text="${blog.content}"></p>
    <a th:href="@{/blog}" role="button" class="btn btn-outline-primary">
       Quay lại danh sách
    </a>
    <a th:href="@{/blog/edit/{id}(id=${blog.id})}" role="button" class="btn btn-outline-warning">
        Chỉnh sửa bài viết
    </a>
    <a th:href="@{/blog/delete/{id}(id=${blog.id})}" role="button" class="btn btn-outline-danger">
        Xoá bài viết
    </a>
</div>

<div th:replace="~{layout::footer}"></div>
<div th:replace="~{layout::script}"></div>
</body>
</html>