<app-product-search (newItemEvent)="search($event)"></app-product-search>
<br>
<table class="table table-bordered table-responsive table-striped">
  <thead>
  <tr>
    <th colspan="7" class="text-bg-primary text-center">PRODUCT LIST</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>Purchasing date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products | paginate:{ itemsPerPage: 5, currentPage: p}">
    <td>{{product.id}}</td>
    <td>{{product.name|titlecase}}</td>
    <td>{{product.price | currency : 'VND'}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name | titlecase}}</td>
    <td>{{product.date | date: 'dd-MM-yyyy'}}</td>
    <td>
      <a class="btn btn-outline-primary" routerLink="/products/edit/{{product.id}}">Edit</a>
      <a class="btn btn-outline-danger" (click)="delete(product.id)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<button class="btn btn-outline-primary" routerLink="/products/create">Add new product</button>

