<form action="" [formGroup]="rf" (ngSubmit)="save()">
  <table class="table table-bordered">
    <tr>
      <td>
        <label for="customer-code">Customer code:</label>
      </td>
      <td>
        <input
          type="text"
          class="form-control" id="customer-code" placeholder="Customer code" formControlName="customerCode">
        <p class="text-danger" *ngIf="rf.controls.customerCode.touched
  && rf.controls.customerCode.errors?.required">Customer code is required</p>
        <p class="text-danger" *ngIf="rf.controls.customerCode.touched
  && rf.controls.customerCode.errors?.pattern">Customer code is wrong pattern</p>
      </td>
    </tr>
    <tr>
      <td>
        <label for="customer-name">Customer name:</label>
      </td>
      <td>
        <input
          type="text"
          class="form-control" id="customer-name" placeholder="Customer name" formControlName="customerName">
        <p class="text-danger" *ngIf="rf.controls.customerName.touched
  && rf.controls.customerName.errors?.required">Customer name is required</p>
      </td>
    </tr>
    <tr>
      <td>
        <label for="birthday">Birthday:</label>
      </td>
      <td>
        <input
          type="date"
          class="form-control" id="birthday" formControlName="birthday">
        <p class="text-danger" *ngIf="rf.controls.birthday.touched
  && rf.controls.birthday?.errors?.required">Birthday is required</p>
      </td>
    </tr>
    <tr>
      <td>
        <label>Gender:</label>
      </td>
      <td>
        <input type="radio" name="gender" formControlName="gender" value="Male">Male
        <input type="radio" name="gender" formControlName="gender" value="Female">Female
        <p class="text-danger" *ngIf="rf.controls.gender.untouched
  && rf.controls.gender?.errors?.required">Gender is required</p>
      </td>
    </tr>
    <tr>
      <td>
        <label for="customer-code">Customer ID:</label>
      </td>
      <td>
        <input
          type="text"
          class="form-control" id="idNumber" placeholder="ID number" formControlName="idNumber">
        <p class="text-danger" *ngIf="rf.controls.idNumber.touched
  && rf.controls.idNumber?.errors?.required">ID is required</p>
        <p class="text-danger" *ngIf="rf.controls.idNumber.touched
  && rf.controls.idNumber?.errors?.pattern">ID is not meet the pattern</p>
      </td>
    </tr>
    <tr>
      <td>
        <label for="customer-code">Phone number:</label>
      </td>
      <td>
        <input
          type="text"
          class="form-control" id="phone" placeholder="Phone number" formControlName="phone">
        <p class="text-danger" *ngIf="rf.controls.phone.touched
  && rf.controls.phone?.errors?.required">Phone is required</p>
        <p class="text-danger" *ngIf="rf.controls.phone.touched
  && rf.controls.phone?.errors?.pattern">Phone is not meet the pattern</p>
      </td>
    </tr>
    <tr>
      <td>
        <label for="email">Email:</label>
      </td>
      <td>
        <input
          type="email"
          class="form-control" id="email" placeholder="Email" formControlName="email">
        <p class="text-danger" *ngIf="rf.controls.email.touched
  && rf.controls.email?.errors?.email">Email is not correct</p>
      </td>
    </tr>
    <tr>
      <td>
        <label for="customer-type">Customer Type:</label>
      </td>
      <td>
        <select formControlName="type" class="form-control" id="customer-type">
          <option *ngFor="let item of customerTypes" [ngValue]="item">{{item.customerType}}</option>
        </select>
        <p class="text-danger" *ngIf="rf.controls.type.touched
  && rf.controls.type?.errors?.required">Please choose customer type</p>
      </td>
    </tr>
    <tr>
      <td>
        <label for="address">Address:</label>
      </td>
      <td>
        <input
          type="text"
          class="form-control" id="address" placeholder="Address" formControlName="address">
        <p class="text-danger" *ngIf="rf.controls.email.touched
  && rf.controls.address?.errors?.required">Address is required</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="reset" class="btn btn-outline-secondary">Reset</button>
        <button type="submit" class="btn btn-outline-primary">Save</button>
      </td>
    </tr>
  </table>
</form>
<pre>{{rf.value | json}}</pre>
