<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form đăng ký</title>
</head>
<body>
<form method="post" th:action="@{/create}" th:object="${user}">
    <fieldset>
        <legend>Thông tin người dùng:</legend>
        <br/>
        <label for="firstName">Tên:</label>
        <br/>
        <input id="firstName" th:field="*{firstName}" type="text"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        <br/><br/>
        <label for="lastName">Họ:</label>
        <br/>
        <input id="lastName" th:field="*{lastName}" type="text"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        <br/><br/>
        <label for="phone">Số điện thoại:</label>
        <br/>
        <input id="phone" th:field="*{phone}" type="text"/>
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        <br/><br/>
        <label for="age">Tuổi:</label>
        <br/>
        <input id="age" th:field="*{age}" type="number"/>
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
        <br/><br/>
        <label for="email">Email:</label>
        <br/>
        <input id="email" th:field="*{email}" type="text"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br/><br/>
        <input type="reset" value="Nhập lại">
        <input type="submit" value="Đăng ký">
    </fieldset>
</form>
</body>
</html>