<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::header('Create a category')}">
</head>
<body class="col-md-12">
<form th:action="@{/category/create}" method="post" th:object="${category}">
    <fieldset>
        <legend>Category info.:</legend>
        <label for="categoryName">Category name:</label>
        <br/>
        <input id="categoryName" th:field="*{categoryName}" maxlength="20"/>
        <br>
        <input class="btn btn-outline-success" type="submit" value="Save"/>
    </fieldset>
</form>
<div th:replace="~{layout::footer}"></div>
<div th:replace="~{layout::script}"></div>
</body>
</html>