<button type="button" class="btn btn-outline-primary" (click)="vote1(1)" >1</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(2)" >2</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(3)" >3</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(4)" >4</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(5)" >5</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(6)" >6</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(7)" >7</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(8)" >8</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(9)" >9</button>
<button type="button" class="btn btn-outline-primary" (click)="vote1(10)" >10</button>

