<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of songs</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<h3>Song list:</h3>

<a th:href="@{/songs/create}">
    <button>Add a new song</button>
</a>
<br/>
<br/>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song:${songs}" th:object="${song}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{artist}"></td>
            <td th:text="*{genre}"></td>
            <td>
                <a th:href="@{/songs/edit/{id}(id=*{id})}">
                    <button>Edit</button>
                </a>
                <a th:href="@{/songs/view/{id}(id=*{id})}">
                    <button>View</button>
                </a>
                <a th:href="@{/songs/delete/{id}(id=*{id})}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{'/songs/list'(page=${songs.number - 1})}" th:if="${songs.hasPrevious()}">Previous</a>
    <span th:text="${songs.number + 1}"></span>/<span th:text="${songs.totalPages}"></span>
    <a th:href="@{'/songs/list'(page=${songs.number + 1})}" th:if="${songs.hasNext()}">Next</a>
</div>
</body>
</html>