<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<img id="img-of-the-day">
</br>
<form th:action="@{/pictures/save}" th:object="${newComment}" method="post">
    <table>
        <tr>
            <th>Rate</th>
            <td>
                <select th:field="*{rate}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>
                <input type="text" th:field="*{comment}"/>
            </td>
        </tr>
        <tr>
            <th>Author</th>
            <td>
                <input type="text" th:field="*{author}"/>
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                <input type="date" th:field="*{date}" id="date-form" readonly/>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="Comment"/>
            </th>
        </tr>
    </table>
</form>
<hr>
<div th:each="c:${comments}" th:object="${c}">
    <span th:text=" '+' + ${c.getRate()} + ' ' + ${c.getComment()}"></span>
    <button>
        <a th:href="@{pictures/comment/{id}(id=${c.getId()})}" th:text="${c.getLiked()} + ' Like'"></a>
    </button>
</div>
<div>
    <a th:href="@{'/pictures'(page=${comments.number - 1})}" th:if="${comments.hasPrevious()}">Previous</a>
    <span th:text="${comments.number + 1}"></span>/<span th:text="${comments.totalPages}"></span>
    <a th:href="@{'/pictures'(page=${comments.number + 1})}" th:if="${comments.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=GBFcVl18bjr6J58VrpvcFMgOgTPvpA5edZcZnD95';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
            document.getElementById('date-form').valueAsDate = new Date();
        }
    };
    request.send();
</script>
</body>
</html>