<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Error page')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container col-md-12">
    <div th:replace="layout::header"></div>
    <div class="row">
        <div th:replace="layout::side-bar"></div>
        <div class="col-md-10">

            <!--    Notification toast-->
            <th:block th:if="${message!=null}">
                <div class="alert alert-primary" role="alert" th:text="${message}"></div>
            </th:block>

            <!--    Error notification-->
            <h1 class="alert alert-primary">Lối trước không thông, vui lòng quay lại</h1>
        </div>
        <div th:replace="layout::footer"></div>
    </div>
    <div th:replace="layout::script"></div>
</div>
</body>
</html>