<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Danh sách')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container col-md-12">
    <div th:replace="layout::header"></div>
    <div class="row">
        <div th:replace="layout::side-bar"></div>
        <div class="col-md-10">
            <h2>Các đầu sách hiện có</h2>

            <!--    Notification toast-->
            <th:block th:if="${message!=null}">
                <div class="alert alert-primary" th:text="${message}"></div>
            </th:block>
            <form class="form form-inline" th:action="@{/device/search}">
                <input name="keyword" type="text"/>
                <button type="submit" class="btn btn-success">Tìm</button>
            </form>
            <!--    Table-->
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Tác giả</th>
                        <th>Số lượng</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody id="result" th:if="${books.size}">
                    <tr th:each="book:${books}" th:object="${book}">
                        <td th:text="*{bookId}"></td>
                        <td th:text="*{bookName}"></td>
                        <td th:text="*{bookAuthor}"></td>
                        <td th:text="*{bookDesc}"></td>
                        <td th:text="*{bookQty}"></td>
                        <td>
                            <a th:href="@{/books/issue(bookId=*{bookId},bookQty=*{bookQty})}" class="btn btn-outline-primary">Mượn sách </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Phân trang-->
<!--            <div>-->
<!--                <a th:href="@{'/device/list'(page=${devices.number - 1})}"-->
<!--                   th:if="${devices.hasPrevious()}">Previous</a>-->
<!--                <span th:text="${devices.number + 1}"></span>/<span th:text="${devices.totalPages}"></span>-->
<!--                <a th:href="@{'/device/list'(page=${devices.number + 1})}" th:if="${devices.hasNext()}">Next</a>-->
<!--            </div>-->
        </div>
    </div>

    <div th:replace="layout::footer"></div>
</div>
<div th:replace="layout::script"></div>
<!--<script>-->
<!--    function buildResult(data) {-->
<!--        let result = "";-->
<!--        for (let i = 0; i < data.length; i++) {-->
<!--            result += `-->
<!--                     <tr>-->
<!--                        <td>${data[i].id}</td>-->
<!--                        <td>${data[i].brand}</td>-->
<!--                        <td>${data[i].model}</td>-->
<!--                        <td>${data[i].color}</td>-->
<!--                        <td>${data[i].description}</td>-->
<!--                        <td>${data[i].price}</td>-->
<!--                        <td>${data[i].purchasingDate}</td>-->
<!--                        <td>${data[i].status}</td>-->
<!--                        <td>${data[i].category.categoryName}</td>-->
<!--                        <td>${data[i].user ? data[i].user.englishName : "Thiết bị chưa được cấp phát"}</td>-->
<!--                        <td>-->
<!--                            <a href="/device/detail?id=${data[i].id}" class="btn btn-outline-primary">Chi tiết</a>-->
<!--                        </td>-->
<!--                     </tr>-->
<!--    `-->
<!--        }-->
<!--        return result;-->
<!--    }-->

<!--    function search() {-->
<!--        let keyword = $("#keyword").val();-->
<!--        // alert(keyword);-->
<!--        $.ajax({-->
<!--            url: "/api/device/search",-->
<!--            data: {-->
<!--                keyword: keyword-->
<!--            },-->
<!--            type: "get",-->
<!--            dataType: "json",-->
<!--            success: function (data) {-->
<!--                // console.log(data);-->
<!--                let result = buildResult(data)-->
<!--                $("#result").html(result);-->
<!--            },-->
<!--            error: function () {-->
<!--                let result = "Không tìm được kết quả tương ứng"-->
<!--                $("#result").text(result);-->
<!--            }-->
<!--        })-->
<!--    }-->
<!--</script>-->
</body>
</html>