<!-- Nav tabs -->
<ul class="nav nav-tabs|pills" id="navId">
  <li class="nav-item">
    <a href="#tab1Id" class="nav-link active">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">Facility</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/facility/list">List of facility</a>
      <a class="dropdown-item" routerLink="/facility/create">Create a new facility</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#tabs5Id">Under-developing</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">Customer</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/facility/list">List of customer</a>
      <a class="dropdown-item" routerLink="/facility/create">Create a new customer</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#tabs5Id">Under-developing</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">Contract</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/contract/list">List of contract</a>
      <a class="dropdown-item" routerLink="/contract/create">Create a new contract</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#tabs5Id">Under-developing</a>
    </div>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link disabled">Disabled</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="tab1Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tabs5Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
</div>

<script>
  $('#navId a').click(e => {
    e.preventDefault();
    $(this).tab('show');
  });
</script>
